html, body {
	background-color: #262626;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

iframe {
	position: absolute;
	right: 0;
    top: 0;
    height: calc(100%);  
    width: 100%;
    border : 0px;	
}

title {
  display: none;
}

#AMPLongShortPresentation{
	display: all;
}