/*
    BALISES HTML
*/

html, body {
	background-color: #303436;
  height: 100%;
  margin: 0em;
  overflow: hidden;
  position:relative;
  top:0em;
  bottom:0em;
  left:0em;
  right:0em;
  word-wrap: break-word;
}

title {
  display: inline;
}

a{
  color:orange;
  font-weight: bold;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}
body, button {
  /*text-rendering: optimizeLegibility;*/
  font: 1em "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 600;
}
button {
  background-color: #222426;
  border: 0;
  border-radius: 0.125em 0.125em 0em 0.125em;
  box-shadow:
    -0.01em -0.025em 0.05em rgba(0, 0, 0, 0.25),
    0 0 0 0.025em rgba(0, 0, 0, 0.3), 
    0.01em 0.01em 0.01em rgba(0, 0, 0, 0.4) inset, 
    -0.02em -0.02em 0.016em #ff9719 inset;
  color: #ffffff;
  font-size: 1em;
  outline: 0;
  position: relative;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-moz-document url-prefix() {
button {
    box-shadow:
    -0.025em -0.04em 0.05em rgba(0, 0, 0, 0.25),
    0 0 0 0.025em rgba(0, 0, 0, 0.3), 
    0.01em 0.01em 0.01em rgba(0, 0, 0, 0.4) inset, 
    -0.022em -0.022em 0.01em #ff9719 inset;
}
}
@media all and (max-width: 1190px) {
  button {
      box-shadow:
      -0.01em -0.025em 0.05em rgba(0, 0, 0, 0.25),
      0 0 0 0.025em rgba(0, 0, 0, 0.3), 
      0.01em 0.01em 0.01em rgba(0, 0, 0, 0.4) inset, 
      -0.028em -0.028em 0.038em #ff9719 inset;
  }
  @-moz-document url-prefix() {
    button {
        box-shadow:
        -0.025em -0.04em 0.05em rgba(0, 0, 0, 0.25),
        0 0 0 0.025em rgba(0, 0, 0, 0.3), 
        0.01em 0.01em 0.01em rgba(0, 0, 0, 0.4) inset, 
        -0.035em -0.04em 0.02em #ff9719 inset;
    }
  }
}
@media all and (max-width: 510px) {
  button {
      box-shadow:
      -0.01em -0.025em 0.05em rgba(0, 0, 0, 0.25),
      0 0 0 0.025em rgba(0, 0, 0, 0.3), 
      0.01em 0.01em 0.01em rgba(0, 0, 0, 0.4) inset, 
      -0.045em -0.045em 0.055em #ff9719 inset;
  }
}

button:not(:last-of-type) {
  margin-right: 0.15em;
}
button:active {
  box-shadow:
    0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
    0 0 0 0.05em rgba(0, 0, 0, 0.4), 
    -0.025em -0.05em 0.025em rgba(255, 255, 255, 0.8) inset;
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
  button.btn0:hover, button.btn1:hover, button.btn2:hover::after, button.btn3:hover, button.btn4:hover, 
  button.btn5:hover, button.btn6:hover, button.btn7:hover, button.btn8:hover, button.btn9:hover,
  button.btn10:hover, button.btn11:hover, button.btn12:hover, button.btn-longest:hover {
    transform: scale(1.5);
    z-index: 3;
  }
  button.zoomRight:hover{
    transform-origin: right;
  }
  button.zoomLeft:hover{
    transform-origin: left;
  }
  button.zoomBottom:hover{
    transform-origin: bottom;
  }
  button.zoomBottomLeft:hover{
    transform-origin: bottom left;
  }
  button.zoomBottomRight:hover{
    transform-origin: bottom right;
  }
  button.btn0:hover:after, button.btn1:hover:after, button.btn2:hover:after:after, button.btn3:hover:after, button.btn4:hover:after, 
  button.btn5:hover:after, button.btn6:hover:after, button.btn7:hover:after, button.btn8:hover:after, button.btn9:hover:after,
  button.btn10:hover:after, button.btn11:hover:after, button.btn12:hover:after, button.btn-longest:hover:after {
    z-index: 3;
  }
}
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {

}


img.iconFlagTop{
  width: 2em;
  height: 2em;
}
img.iconFlagItem{
  width: 2em;
  height: 2em;
}



/* Keyboard */
.keyboard {
  background-color: #262626;
  border-radius: 0.5em;
  box-shadow: -1em -1em 1.5em rgba(0, 0, 0, 0.6), 0 0 0 0.025em #ff9719 inset;
  display: grid;
  grid-template-columns: 18.63em 3.7em 5em;
  grid-template-rows: 1.125em 1.125em 1.125em 1.125em 1.125em 1.375em;
  grid-gap: 0.2em 0.3em;
  font-size: 3.523vw;
  padding: 0.25em;
  width: 28.35em;
  height: 8.23em;
}

.rowFonction{
  grid-gap: 0.2em 0.275em;
}
.rowFonctionSpace:not(:last-of-type){
  margin-right: 0.87em;
}

.row:nth-of-type(14) {
  text-align: center;
}

.keyboard > .row > button{
  display: inline-grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 5fr;
  gap: 0em 0em;
  grid-template-areas: ". KeyLetter" "KeyDescr KeyDescr";
}
.KeyLetter {
 grid-area: KeyLetter;
 font-size: 0.175em; 
 line-height: 1em;
 border-left: 0.1em solid #ff9719;
 border-bottom: 0.1em solid #ff9719;
 padding-right: 0.3em;
 padding-bottom: 0.2em;
 }
.KeyDescr { 
  display: block;
  overflow: auto;
  text-overflow: ellipsis; 
  width: 100%;
  height: 100%;
  grid-area: KeyDescr;
  word-break:break-word;
  text-align: left;
  font-size: 13%;
  line-height: 125%;
  padding-right: 2.8%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 5%;
  scrollbar-color: #888888 #202324;
  scrollbar-width: none; /* waiting for retarded-firefox to allow more than 3 stupids values */
}
@-moz-document url-prefix() {
  .KeyDescr {padding-bottom: 15%; line-height: 100%;}
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
  width: 0.25em;
  height: 0.25em;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2c2e2e; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Button size */
.btn0 {
  width: 1.125em;
  height: 1.125em;
}
.btn1 {
  width: 1.125em;
  height: 1.125em;
}
.btn2 {
  width: 1.125em;
  height: 1.125em;
}
.btn3 {
  width: 2em;
  height: 1.125em;
}
.btn4 {
  /*-webkit-clip-path: ;*/
  clip-path: polygon(100% 0, 100% 100%, 28% 100%, 28% 45%, 0 45%, 0 0);
  width: 1.55em;
  height: 2.45em;
}
.btn5 {
  width: 2.85em;
  height: 1.125em;
}
.btn6 {
  width: 1.5625em;
  height: 1.125em;
}
.btn7 {
  width: 1.8875em;
  height: 1.125em;
}
.btn8 {
  width: 1.125em;
  height: 1.125em;
}
.btn9 {
  width: 2.42em;
  height: 1.125em;
}
.btn10 {
  width: 1.125em;
  height: 2.45em;
}
.btn11{
  width: 1.125em;
  height: 2.45em;
}
.btn12{
  width: 1.5625em;
  height: 1.125em;
}
.btn-longest {
  width: 7.25em;
  height: 1.125em;
}

/* Button text alignment */
.ul, .ll, .ur, .lr {
  top: 0;
  transform: scaleX(0.875);
}
.ul, .ll {
  text-align: left;
  transform-origin: 0 50%;
}
.ur, .lr {
  text-align: right;
  transform-origin: 100% 50%;
}
.ll, .lr {
  top: auto;
  bottom: 0;
}
.noxscale {
  transform: translateY(-50%) scaleX(1);
}
.ll.noxscale, .lr.noxscale {
  transform: scaleX(1);
}

/* Button font size */
.xxxxs {
  font-size: 12.5%;
  /*font-size: 0.125em;*/
  /*line-height: 0.9em;*/
  line-height: 90%;
  padding-right: 0%;
  padding-left: 1%;
  padding-top: 1%;
}
.xxxs {
  font-size: 0.175em;
  line-height: 1em;
}
.xxs {
  font-size: 0.25em;
  line-height: 1.5em;
}
.xs {
  font-size: 0.28em;
  line-height: 1.125em;
}
.sm {
  font-size: 0.4em;
  line-height: 1.25em;
}

#texte-option{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 0em 0em;
  grid-template-areas: "menuLangue menuProfile menuReseaux" "titreLGDP titreLGDP titreLGDP";
  width: 5em;
  height: 1.125em;
}
.titreLGDP { 
  grid-area: titreLGDP;
  color: #ff9719;
  font-variant-caps: all-small-caps;
  font-size: 1vw;
  }
.menuLangue { grid-area: menuLangue; }
.menuProfile { grid-area: menuProfile; }
.menuReseaux { grid-area: menuReseaux; }


.dropbtn {
  background-color: #222426;
  color: white;
  padding: 0.95em;
  border-right: 0.01em solid #ff9719;
  border-bottom: 0.01em solid #ff9719;
  cursor: pointer;
  width:100%;
}

.dropdown {
  /*position: relative;
  display: inline-block;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #34393D;
  min-width: 100%;
  box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {  
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin: auto;
  text-decoration: none;
  display: block;
  /*text-align: center;*/
}

.dropdown-content a span{
  color: white;
  padding-left: 1em;
}

.dropdown-content a:hover {background-color: #495255;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #34393D;
}

#texte-legende{
  display: grid;
  grid-template-columns: 12em 12em;
  grid-template-rows: 1.125em;
  grid-gap: 0.2em;
}


.modificateur{
  font-weight: 700;
}

/* ALT - orange */
.modificateur_1, #modificateur_1 {
  color: #ff9719;
}

/* mode d'interaction - violet */
.modificateur_2, #modificateur_2 {
  color: #ff80ff;
}

/* Scan Mode - vert */
.modificateur_3, #modificateur_3 {
  color: chartreuse;
}

/* Minage Mode - magenta sur l'image => "Cyan" */
.modificateur_4, #modificateur_4 {
  color: #00c5bc;
}

/* Caméra avancée - bleu */
.modificateur_5, #modificateur_5 {
  color: #6bb6ff;
}

/* Modificateur 2 actif - rouge */
.modificateur_6, #modificateur_6 {
  color: #ff90a5;
}

#modificateur_7, #modificateur_8 {
  color: white;
}

.cookieCheckbox{
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: white;
}


#volet_g {
        width: 18.75em;
        height: 8.23em;
        font-size: 3.523vw;
        display: grid;
  grid-template-columns: 3.56fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.2em 0.2em;
          margin: 0em;
      padding: 0.05em;
  grid-template-areas: "zoneYoutube zoneChapitresLGDPfull" "zoneYoutube zoneActionsTouchefull";
      background-color: #262626;
          box-shadow: -0.1em -0.1em 0.75em rgba(0, 0, 0, 0.6), 0 0 0 0.05em #5c0cb6 inset; 
  border-radius: 0em 0.5em 0.5em 0em;
   color: #fff; 
    }
    
    #btnInfoOuvert, #btnInfoFermer{
      z-index: 2 !important;
      padding: 0em 0em;
      background: #555;
      color: #fff;
      text-decoration: none;
    }

    #volet_g {
      position: absolute;
      left: -18.75em;  /* test fixed + scroll, on retire la position top */
      -webkit-transition: all .5s ease-in;
      -moz-transition: all .5s ease-in;
      transition: all .5s ease-in;
    }
    #btnInfoOuvert, #btnInfoFermer{
      position: absolute;
      right: -2.14em;
      top: 11.5em;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -moz-radius: 0 0 0.2em 0.2em;
      border-radius: 0 0 0.2em 0.2em;
    }
    #btnInfoFermer{
      display: none;
    }
    #volet_g:target {
      left: 0em;
    }

    /* code pour la fermeture */

    #volet_g:target a.fermer_g {
      right: -2.2em;
      display: block;
    }
    #volet_g:target a.ouvrir_g {
      display: none;
    }
    #volet_clos_g:target #volet_g {
      left: -18.75em;
    }
    
     /* test fixed + scroll */
    #volet_clos_g {
      z-index: 4;
      position: fixed; 
      top: 0em; left: 0em;
    }

.zoneYoutube { grid-area: zoneYoutube; }

#zoneChapitresLGDPfull { grid-area: zoneChapitresLGDPfull; }

#zoneActionsTouchefull { grid-area: zoneActionsTouchefull; }

#zoneChapitresLGDPtitre{
  color: #ff9719;
  border-left: 0.1em solid #5c0cb6;
  border-bottom: 0.1em solid #5c0cb6;
  border-radius: 0em 0.5em 0.5em 0em;
  font-size: 0.375em;
  line-height: 1em;
  padding: 0.5em 0em 0.5em 0.1em;
}

#zoneActionsTouchetitre{
  color: #ff9719;
  border-top: 0.1em solid #5c0cb6;
  border-left: 0.1em solid #5c0cb6;
  border-bottom: 0.1em solid #5c0cb6;
  border-radius: 0em 0.5em 0.5em 0em;
  font-size: 0.375em;
  line-height: 1em;
  padding: 0.5em 0em 0.5em 0.1em;
}

#zoneActionsTouche, #zoneChapitresLGDP{
  padding: 1.2em 0.2em 0.2em 0.2em;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

#iframeYT{
  width: 100%;
  height: 100%;
  border-width: 0;
  border-style: none;
}


#volet_d {
        width: 8.75em;
        height: 8.23em;
        display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "zoneMolette zoneClicGauche zoneClicDroit" "zoneMolette zoneSouris zoneSouris" "zoneSideButton zoneSouris zoneSouris" "zoneAxes zoneSouris zoneSouris";
        margin: 0em;
      padding: 0.2em;
        grid-gap: 0.2em 0.2em;
        font-size: 3.523vw;      
          background-color: #262626;
          box-shadow: -0.1em -0.1em 0.75em rgba(0, 0, 0, 0.6), 0 0 0 0.05em #38b3e0 inset; 
          border-radius: 0.5em 0em 0em 0.5em;
   color: #fff; 
    }
    
    #btnSourisFermer, #btnSourisOuvert{
      z-index: 2 !important;
      padding: 0em 0em;
      background: #555;
      color: #fff;
      text-decoration: none;
    }

    #volet_d {
      position: absolute;
      left: 28.4em;  /* test fixed + scroll, on retire la position top */
      -webkit-transition: all .5s ease-in;
      -moz-transition: all .5s ease-in;
      transition: all .5s ease-in;
    }
    #btnSourisFermer, #btnSourisOuvert{
      position: absolute;
      left: -2em;
      top: 11.5em;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-radius: 0 0 0.2em 0.2em;
      border-radius: 0 0 0.2em 0.2em;
    }
    #btnSourisFermer {
      display: none;
    }
    #volet_d:target {
      left: 19.6em;
    }

    /* code pour la fermeture */

    #volet_d:target a.fermer_d {
      left: -2.2em;
      display: block;
    }
    #volet_d:target a.ouvrir_d {
      display: none;
    }
    #volet_clos_d:target #volet_d {
      left: 28.4em;
    }
    
     /* test fixed + scroll */
    #volet_clos_d {
      z-index: 4;
      position: fixed; 
      top: 0em; left: 0em;
    }

    #volet_clos_d button:hover { opacity: 1.0;}


.zoneSouris { grid-area: zoneSouris; }

.zoneAxes { grid-area: zoneAxes; line-height: 1.5em;}

.zoneSideButton { grid-area: zoneSideButton; line-height: 1.5em;}

.zoneMolette { grid-area: zoneMolette; line-height: 1.5em;}

.zoneClicGauche { grid-area: zoneClicGauche; line-height: 1.5em;}

.zoneClicDroit { grid-area: zoneClicDroit; line-height: 1.5em;}

.sourisGaming{
  height: 100%;
  width: 100%
}

#texteSouris{
  height: 100%;
}

#AMPLongShortPresentation{
  display: inherit;
  color: white;
}

.swiperZone {
  position:relative;
  z-index:13;
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "swiperAlphaFonction swiperAlphaFonction swiperSouris";
}

.swiperAlphaFonction { grid-area: swiperAlphaFonction; }

.swiperSouris { grid-area: swiperSouris; }