/*
    BALISES HTML
*/

html, body {
	background-color: #262626;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  font-family: Arial, Verdana, sans-serif;
  word-wrap: break-word;
}

title {
  display: inline;
}

ul{
    /*display: block;
    list-style-type: none;*/
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
}
body, button {
  /*text-rendering: optimizeLegibility;*/
  font: 1em "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 600;
}
button {
  background-color: #eee;
  border: 0;
  border-radius: 0.125em;
  box-shadow:
    -0.2em -0.125em 0.125em rgba(0, 0, 0, 0.25), 
    0 0 0 0.04em rgba(0, 0, 0, 0.3), 
    0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
    -0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
  color: #777;
  font-size: 1em;
  outline: 0;
  position: relative;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:not(:last-of-type) {
  margin-right: 0.35em;
}
button:active {
  box-shadow:
    0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
    0 0 0 0.05em rgba(0, 0, 0, 0.4), 
    -0.025em -0.05em 0.025em rgba(255, 255, 255, 0.8) inset;
}
button span {
  display: inline-block;
}
button > span {
  margin: auto;
  padding: 0.2em 0.375em;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 0.5em;
  line-height: 2;
  transform: translateY(-50%) scaleX(0.875);
  width: 100%;
}


.derp {
  width:100%;
  margin:auto;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.bloc {
  font-size: 1.2em;
  text-align: left;
  word-break:break-all;
  word-wrap: break-word;
}
.group-letter{
  float: right;
  border-radius: 0.5em;
  border-left: 0.1em solid #777;
  border-bottom: 0.1em solid #777;
}
.letter{
  color: black;
  font-size: 0.8em;
  text-align: center;
  margin: 0.35em;
  font-weight: bolder;
}

.letter1{
  color: black;
  font-size: 1em;
  text-align: center;
  margin: 0.3em;
  font-weight: bolder;
}


/* Keyboard */
.keyboard {
  background-image: linear-gradient(90deg, #888, #ccc);
  border-radius: 0.5em;
  box-shadow: -1em -1em 1.5em rgba(0, 0, 0, 0.6), 0 0 0 1px #aaa inset;
  display: grid;
  grid-template-columns: 21.25em 4.125em 5.65em;
  grid-template-rows: 1.125em 1.125em 1.125em 1.125em 1.125em 1.375em;
  grid-gap: 0.2em 0.275em;
  /*font-size:36px;*/
  font-size: 3.13vw;
  /*margin: 3em auto 0 auto;*/
  padding: 0.25em;
  width: 32em;
  height: 8.45em;
}

.rowFonction{
  grid-gap: 0.2em 0.275em;
}
.rowFonctionSpace:not(:last-of-type){
  margin-right: 1.12em;
}

.row:nth-of-type(14) {
  text-align: center;
}
.row:nth-of-type(n + 14):nth-of-type(-3n + 17) {
  transform: translateY(0.25em);
}
.bump {
  border-radius: 0.1em;
  box-shadow: -0.05em -0.02em 0 0.05em rgba(0, 0, 0, 0.3);
  padding: 0;
  top: 85%;
  left: calc(50% - 0.4em);
  width: 0.8em;
  height: 0.15em;
}

/* Button size */
.btn0 {
  width: 1.125em;
  height: 1.125em;
}
.btn1 {
  width: 1.125em;
  height: 1.125em;
}
.btn2 {
  width: 1.125em;
  height: 1.125em;
}
.btn3 {
  width: 2em;
  height: 1.125em;
}
.btn4 {
  width: 2.3em;
  height: 1.125em;
}
.btn5 {
  width: 3.05em;
  height: 1.125em;
}
.btn6 {
  width: 1.5625em;
  height: 1.375em;
}
.btn7 {
  width: 1.8375em;
  height: 1.375em;
}
.btn8 {
  width: 1.125em;
  height: 1.375em;
}
.btn9 {
  width: 2.615em;
  height: 1.375em;
}
.btn10 {
  width: 1.125em;
  height: 2.7em;
}
.btn11{
  width: 1.125em;
  height: 2.45em;
}
.btn-longest {
  width: 8.625em;
  height: 1.375em;
}

/* Button text alignment */
.ul, .ll, .ur, .lr {
  top: 0;
  transform: scaleX(0.875);
}
.ul, .ll {
  text-align: left;
  transform-origin: 0 50%;
}
.ur, .lr {
  text-align: right;
  transform-origin: 100% 50%;
}
.ll, .lr {
  top: auto;
  bottom: 0;
}
.noxscale {
  transform: translateY(-50%) scaleX(1);
}
.ll.noxscale, .lr.noxscale {
  transform: scaleX(1);
}

/* Button font size */
.xxxxs {
  font-size: 0.15em;
  line-height: 0.9em;
  padding-right: 0;
  padding-left: 0.2em;
  padding-top: 0.1em;
}
.xxxs {
  font-size: 0.2em;
  line-height: 1em;
}
.xxs {
  font-size: 0.25em;
  line-height: 1.5em;
}
.xs {
  font-size: 0.3em;
  line-height: 1.125em;
}
.sm {
  font-size: 0.4em;
  line-height: 1.25em;
}

/* Icons */
.up, .right, .down, .left {
  width: 0;
  height: 0;
  vertical-align: 0.1em;
}
.up {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-bottom: 0.5em solid currentColor;
}
.right {
  border-left: 0.5em solid currentColor;
  border-top: 0.25em solid transparent;
  border-bottom: 0.25em solid transparent;
}
.down {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-top: 0.5em solid currentColor;
}
.left {
  border-right: 0.5em solid currentColor;
  border-top: 0.25em solid transparent;
  border-bottom: 0.25em solid transparent;
}
.pause {
  border-left: 0.2em solid;
  border-right: 0.2em solid;
  vertical-align: 0.1em;
  width: 0.475em;
  height: 0.5em;
}

.cascade:before, .cascade:after, .block {
  border: 1px solid;
}
.cascade {
  position: relative;
  height: 1em;
  width: 1.2em;
}
.cascade:before, .cascade:after {
  content: "";
  position: absolute;
  height: 0.45em;
  width: 0.8em;
}
.cascade:before {
  top: 0;
  left: 0;
}
.cascade:after {
  right: 0;
  bottom: 0;
}
.block {
  margin-left: 0.1em;
  height: 0.8em;
  width: 0.6em;
  vertical-align: 0.1em;
}
.apps:before, .apps:after {
  font-weight: bold;
  display: block;
  content: "\25A1\25A1\25A1";
  line-height: 0.875;
}

/* Miscellaneous */
.on {
  color: #8dff00;
  text-shadow: 0 0 2px #478800;
}
.noxpad {
  padding: 0.2em 0;
}

/* IE 11 fix */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .keyboard {
    display: -ms-grid;
    -ms-grid-columns: 22.125em 5em 5.75em;
    -ms-grid-rows: 1.125em 1.5em 1.5em 1.5em 1.5em 1.375em;
  }
  .row:nth-child(3n + 2) {
    -ms-grid-column: 2;
  }
  .row:nth-child(3n + 3) {
    -ms-grid-column: 3;
  }
  .row:nth-child(n + 4):nth-child(-n + 6) {
    -ms-grid-row: 2;
  }
  .row:nth-child(n + 7):nth-child(-n + 9) {
    -ms-grid-row: 3;
  }
  .row:nth-child(n + 10):nth-child(-n + 12) {
    -ms-grid-row: 4;
  }
  .row:nth-child(n + 13):nth-child(-n + 15) {
    -ms-grid-row: 5;
  }
  .row:nth-child(n + 16) {
    -ms-grid-row: 6;
  }
  .row:nth-of-type(14) button {
    transform: translateX(-0.5em);
  }
}

#texte-option{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: inherit;
  grid-gap: 0;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 0.75em;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.5em 2em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#texte-legende{
  display: grid;
  grid-template-columns: 12em 12em;
  grid-template-rows: 1.125em;
  grid-gap: 0.2em;
}


.modificateur{
  font-weight: 700;
}

/* ALT - orange */
.modificateur_1, #modificateur_1 {
  color: orange;
  text-shadow: 0 0 0.3em black;
}

/* mode d'interaction - violet */
.modificateur_2, #modificateur_2 {
  color: purple;
  text-shadow: 0 0 0.3em white;
}

/* Scan Mode - vert */
.modificateur_3, #modificateur_3 {
  color: chartreuse;
  text-shadow: 0 0 0.3em black;
}

/* Minage Mode - maginta */
.modificateur_4, #modificateur_4 {
  color: magenta;
  text-shadow: 0 0 0.3em white;
}

/* Caméra avancée - bleu */
.modificateur_5, #modificateur_5 {
  color: blue;
  text-shadow: 0 0 0.3em white;
}

/* Modificateur 2 actif - rouge */
.modificateur_6, #modificateur_6 {
  color: red;
  text-shadow: 0 0 0.3em white;
}